@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewBag.BlogType == BlogType.Article.ToString())
    {
        ViewBag.Title = "修改文章成功!";

    }
    else
    {
        ViewBag.Title = "修改随笔成功!";
    }
}

@section LoadCss{
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/unexpected_page.css" rel="stylesheet" />
}

<div class="un-page-content clearfix">
    <div class="logo-part">
        <img src="~/icon/edit.png" class="logo-standard" alt="添加博客完成">
    </div>
    <div class="details-part">
        <h1>@ViewBag.Title</h1>
        <ul>
            <li><a href="@Url.Action("BlogDetails", "Users", new {id=@ViewBag.BlogId})">立即查看</a></li>
            <li><a href="@Url.Action("Edit", "ManageBlogs", new { id = @ViewBag.BlogId })">继续编辑</a></li>
            <li><a href="/ManageBlogs/Create?type=@ViewBag.BlogType">@(ViewBag.BlogType == BlogType.Article.ToString() ? "添加文章" : "添加随笔")</a></li>
            <li><a href="/ManageBlogs/Index?type=@ViewBag.BlogType">@(ViewBag.BlogType == BlogType.Article.ToString() ? "管理文章" : "管理随笔")</a></li>
            <li><a href="@Url.Action("Index", "Home")">网站首页</a></li>
        </ul>
    </div>
</div>

@section LoadJS{
    <script src="~/js/gscript.js"></script>
}
