@model ChangePassword

@{
    ViewBag.Title = "重置密码";
}

@section LoadCss{
    <link href="~/css/blog_manager.css" rel="stylesheet" />
    <link href="~/css/profile_set.css" rel="stylesheet" />
}

<div class="g-container">
    <div class="page-content clearfix">
        <div class="col-gy-4">
            <nav class="menu">
                <h3 class="menu-header">操作</h3>
                <a href="/ManageBlogs/Index?type=Jotting" class="menu-item">管理随笔</a>
                <a href="/ManageBlogs/Index?type=Article" class="menu-item">管理文章</a>
                <a href="/ManageCollection/Index" class="menu-item">管理收藏</a>
                <a href="/Settings/Index" class="menu-item">个人设置</a>
            </nav>
        </div>

        <div class="main-area col-gy-8">
            <div class="sub-header">
                <a href="/ManageBlogs/Index?type=Jotting" class="header-item">随笔</a>
                <a href="/ManageBlogs/Index?type=Article" class="header-item">文章</a>
                <a href="/ManageCollection/Index" class="header-item">收藏</a>
                <a href="/Settings/Index" class="selected header-item">设置</a>
            </div>

            <div class="set-part">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "clearfix" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="user-details">
                        <dl>
                            <dt>@Html.LabelFor(model => model.OldPassword)</dt>
                            <dd>
                                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "input-box" } })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger"})
                            </dd>
                        </dl>

                        <dl>
                            <dt>@Html.LabelFor(model => model.Password)</dt>
                            <dd>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-box" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </dd>
                        </dl>

                        <dl>
                            <dt>@Html.LabelFor(model => model.RePassword)</dt>
                            <dd>
                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "input-box" } })
                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                            </dd>
                        </dl>

                        <button type="submit" class="btn btn-primary">更改密码</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section LoadJS{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
