@model ResetPassword

@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="central-area">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-header">
            <h1>@ViewBag.Title</h1>
        </div>
        <input type="hidden" name="FCode" value="@ViewBag.FCode" />

        <div class="form-body">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-box", autofocus = "autofocus" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.RePassword)
            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "input-box" } })
            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })

            <button type="submit" class="btn btn-primary" id="modify-password">修改密码</button>
        </div>
    }
</div>
